{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <!-- <div class="vertical">
        <div class="site-head-content inner">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <h2 class="blog-description">{{@blog.description}}</h2>
        </div>
    </div>-->
    <div class='site-head-content'>
        <div class='inner'>
            {{#if @blog.logo}}<a class='blog-logo' href="{{@blog.url}}"><img src="{{@blog.logo}}" alt='Blog Logo' /></a>{{/if}}
            <h1 class='blog-title'>{{@blog.title}}</h1>
            <h2 class='blog-description'>{{@blog.description}}</h2>
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<nav class='navbar'>
    <div class='responsive-menu'>
        <div class='icon entypo list'></div>
    </div>
    <div class='responsive-menu-list'>
        <a class='page' href='http://www.intripd.com'>
            <div class='icon entypo compass'></div><div class='text'>GO TO APP</div>
        </a>
        <a class='soc rss' href='{{@blog.url}}/rss/'>
            <div class='icon entypo rss'></div>
        </a>
        <a class='soc pinterest' href='http://pinterest.com/intripd'>
            <div class='icon entypo-social pinterest'></div>
        </a>
        <a class='soc twitter' href='https://twitter.com/intripd'>
            <div class='icon entypo-social twitter'></div>
        </a>
        <a class='soc facebook' href='https://facebook.com/intripd'>
            <div class='icon entypo-social facebook'></div>
        </a>
    </div>
    <div class='pages'>
        <a href='http://www.intripd.com'><div class='icon entypo compass'></div><div class='text'>GO TO APP</div></a>
    </div>
    <div class='logo'>
        {{#if @blog.logo}}<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt='Blog Logo' /></a>{{/if}}
    </div>
    <div class='social'>
        <a class='rss' href='{{@blog.url}}/rss/'><div class='icon entypo rss'></div></a>
        <a class='pinterest' href='http://pinterest.com/intripd'><div class='icon entypo-social pinterest'></div></a>
        <a class='twitter' href='https://twitter.com/intripd'><div class='icon entypo-social twitter'></div></a>
        <a class='facebook' href='https://facebook.com/intripd'><div class='icon entypo-social facebook'></div></a>
    </div>
</nav>
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}
    <article class="{{post_class}}">
        <div class="post-cover gradient">
            <div style='width: 110px; height: 40px; position: absolute; margin-top: -20px; margin-left: -55px; top: 50%; left: 50%;'>
                <a href="{{url}}"><b>READ MORE</b></a>
            </div>
        </div>

        <div class='post-text' {{#if @even}}style='float: right;'{{else}}style='float: left;'{{/if}}>
            <header class="post-header">
                <span class="post-meta"><div class='icon entypo calendar'></div><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="in "}}</span>
                <div class="post-title"><a href="{{url}}">{{{title}}}</a></div>
            </header>
            <section class="post-excerpt">
                <p>{{excerpt}}&hellip;</p>
            </section>
        </div>
        <div class='post-image' {{#if @even}}style='float: right;'{{else}}style='float: left;'{{/if}}>
            <div class='image' data-img='{{content words="0"}}'>
            </div>
        </div>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>
<script type="text/javascript" src="{{asset "js/index.js"}}"></script>